<header>
   {{#if title}}
      <h1>{{title}}</h1>
   {{/if}}
   <nav>
      <ul>
         <a href="/pages/dashboard.html">Dashboard</a>
         <a href="/pages/about.html">Про нас</a>
         <a href="/pages/faq.html">FAQ</a>
         <a href="/pages/grid.html">Grid</a>
      </ul>
   </nav>
</header>