<header>
   <h1>{{title}}</h1>
   <nav>
      <ul>
         <a href="/pages/dashboard.html">Dashboard</a>
         <a href="/pages/about.html">Про нас</a>
         <a href="/pages/faq.html">FAQ</a>
      </ul>
   </nav>
</header>