.dashboard {
   border: #535bf2 1px solid;
   padding: toRem(10);
   margin: toRem(10);
   background: #5eb0ef;
   color: #535bf2;

   &__container {
      padding: toRem(10);
   }

   &__title {
      color: $color-primary;
      font-size: clamp(toRem(12), 5vw, toRem(32));
      font-family: $font-primary;
   }

   &__text-md {
      @extend %text-md;
   }

   &__text-xs {
      @extend %text-xs;
   }

   &__image {
      width: toRem(50);
      height: toRem(50);
   }

   h2 {
      font-family: $font-secondary;
      font-size: toRem(20);
      font-weight: 600;
      color: yellow;

      @include media-breakpoint(md) {
         font-size: 10px;
      }
   }
}

.example-class {
   font-size: toRem(20);

   @include media-breakpoint(md) {
      font-size: 10px;
   }

   @include media-breakpoint(lg, 'max') {
      color: blue;
   }

   @include media-breakpoint(500, 'max') {
      font-size: 55px;
   }

   @include media-breakpoint(800, 'max') {
      margin: 10px;
   }

   @include media-breakpoint(xl, 'max') {
      border: solid 1px tomato;
   }

   // min - не потрібно писати
   @include media-breakpoint(1680) {
      font-size: toRem(12);
   }

   @media (min-width: $breakpoint-xl) and (max-width: $breakpoint-2xl - 1px) {
      margin: 10px;
   }
}

.truncate {
   margin-bottom: toRem(20);
   @include text-truncate;
}

.three-lines {
   width: toRem(100);
   @include line-clamp(3);
}