//set the element to which we want to scroll
//:target {
//   scroll-margin-top: 8rem;
//}

*,
*:before,
*:after {
   box-sizing: border-box;
}

html {
   font-size: $base-font-size + px;

   @media screen and (max-width: 1023px) {
      font-size: $base-font-size * 0.9 + px;
   }
}

html,
body {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   color: $color-primary;
   font-family: $font-primary;
   //text-rendering: optimizeLegibility;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   &.no-scroll {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}

input,
button,
textarea,
optgroup,
select {
   font-family: $font-primary;
   font-size: inherit;
}

select {
   cursor: pointer;
}

button {
   cursor: pointer;
   color: inherit;
   background-color: inherit;
   //remove blue flashing in chrome when clicked
   -webkit-tap-highlight-color: transparent;

   &:disabled {
      cursor: auto;
   }
}

picture {
   display: block;
}

p {
   margin: 0;
   padding: 0;
}

a {
   cursor: pointer;
   display: inline-block;
   color: inherit;
   //remove blue flashing in chrome when clicked
   -webkit-tap-highlight-color: transparent;
}

a:link,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ol,
ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
   vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
   padding: 0;
   margin: 0;
}

svg {
   display: inline-block;
   vertical-align: middle;
}

mark {
   background: transparent;
}

blockquote {
   margin: 0;
   padding: 0;
}

//remove arrows for input type="number"
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
}

// fix autofill color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
   -webkit-text-fill-color: white;
   -webkit-box-shadow: 0 0 0 1000px $color-primary inset;
   transition: background-color 15ms ease-in-out 0s;
}
